<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>product01</key>
	<dict>
		<key>strProductIdentifier</key>
		<string>com.tasnim.XYZ.product</string>
		<key>strProductName</key>
		<string>Multiple Audio</string>
		<key>strProductTitle</key>
		<string>ADD UNLIMITED AUDIOS</string>
		<key>strProductDescription</key>
		<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</string>
		<key>strProductPrice</key>
		<string></string>
		<key>strProductType</key>
		<string>typeGeneral</string>
	</dict>
	<key>product02</key>
	<dict>
		<key>strProductIdentifier</key>
		<string>com.tasnim.XYZ.unlockall</string>
		<key>strProductName</key>
		<string>Unlock All</string>
		<key>strProductTitle</key>
		<string>UNLOCK ALL</string>
		<key>strProductDescription</key>
		<string>1914 translation by H. Rackham

&quot;But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</string>
		<key>strProductPrice</key>
		<string></string>
		<key>strProductType</key>
		<string>typeUnlockAll</string>
	</dict>
</dict>
</plist>
